# Handle line endings automatically for files detected as text 
# and leave binary files untouched.
* text=auto

# Force bash scripts to always use lf, to avoid 'command not found' errors
# on Windows which can happen if they are stored as crlf in the repo.
*.sh text eol=lf
